.container {
  height: 100%;
  --background: url("../assets/dot-pattern.svg") center / 250% no-repeat;
}

.container strong {
  font-size: 20px;
  line-height: 26px;
}

.container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

.container a {
  text-decoration: none;
}

.previewContainer {
  display: grid;
  place-content: center;
}

.previewContainer > .preview {
  transform: scale(0.4, 0.4) rotateY(180deg) !important;
}

.formContainer {
  margin-top: -100px;
}
.roomInput {
  display: grid;
  place-content: center;
}

.joinButton {
  width: 60%;
  --border-radius: 999px !important;
  margin: 40px auto auto auto;
  height: 44px;
  font-weight: bold;
  --background: linear-gradient(
    247.53deg,
    #f93995 -23.86%,
    #6b39f9 46.25%,
    #39a8f9 120.88%
  ) !important;

  transition: ease-in-out 0.3s;
}

.button-disabled {
  cursor: default !important;
  pointer-events: none !important;
  --background: rgb(54, 21, 145) !important;

  transition: ease-in-out 0.3s;
}

.roomInput > input {
  width: 80%;
  margin: auto;
  font-size: 3rem;
  background: transparent;
  font-weight: bold !important;
  border: none;
  color: #ffffff;
  text-align: center;
}

.roomInput > input:focus {
  outline: none;
}

.roomInput > input::placeholder {
  color: #6b39f9;
  font-weight: bold !important;
}
